{% extends "webml/header.html" %}
{% load staticfiles %}
{% block content %}
<!--<head>-->
  <!--<nav class="navbar navbar-expand-md bg-secondary navbar-dark h-20">-->
    <!--<a class="navbar-brand" href="https://www.google.com/search?hl=en&as_q=artificial+intelligence+%2C+Machine+Learning+%2C+Deep+Learning+&as_epq=&as_oq=&as_eq=&as_nlo=&as_nhi=&lr=&cr=&as_qdr=m&as_sitesearch=&as_occt=any&safe=images&as_filetype=&as_rights=">AI News</a>-->
    <!--<div class="container">-->
      <!--<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
        <!--<span class="navbar-toggler-icon"></span>-->
      <!--</button>-->
      <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
        <!--<ul class="navbar-nav mr-auto">-->
          <!--<li class="nav-item">-->
            <!--<a class="nav-link bg-secondary text-white" href="/">Home</a>-->
          <!--</li>-->
          <!--<li class="nav-item">-->
            <!--<a class="nav-link bg-secondary text-white" href="#">About</a>-->
          <!--</li>-->
          <!--<li class="nav-item">-->
            <!--<a class="nav-link bg-secondary text-white" href="#"> Upcoming Skills</a>-->
          <!--</li>-->
        <!--</ul>-->
        <!--<form class="form-inline m-0">-->
          <!--<input class="form-control mr-2" type="text" placeholder="Search">-->
          <!--<button class="btn btn-primary" type="submit">Search</button>-->
        <!--</form>-->
      <!--</div>-->
    <!--</div>-->
  <!--</nav>-->
<!--<head>-->
	{% for learningpost in object_list %}
<html>
  <head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="{% static 'webml/css/theme.css' %}"  type="text/css">
  </head>
<body class="bg-info">
  <div class="py-5" >
    <div class="container">
      <div class="row">
        <div class="col-md-12">
             <div class="bg-white alert  w-100 h-100 m-1" role="alert">
               <i class="">
               <h3 class="text-center display-4 text-dark"><a class="text-center display-4 text-dark" href="/learningpage/{{learningpost.id}}">{{learningpost.headline|safe}}</a></h3>
               <h4 class="text-center text-dark">{{learningpost.date|date:"Y-m-d" }}</h4>
               <h4 class="text-center text-dark">{{learningpost.username }}</h4>
               </i>
                <p class="mb-0 text-dark text-left">{{ learningpost.body|truncatewords:15|safe }}</p>
              </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
	{% endfor %}
{% endblock %}